@model IEnumerable<WebApplication2.Models.About>

<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href=" /Home/ContactUs">Contact us</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
               
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    @foreach (var item in Model)
                    {
                        <img src="@Url.Content("~/Images/" + item.Imagepath )" asp-append-version="true" width="400" height="400" />
                    }
                  @* <img class="position-absolute w-100 h-100" src="~/Home/img/about-1.jpg" alt="" style="object-fit: cover;">*@
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="~/Home/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                   
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                @foreach(var item in Model){
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">About Us</h6>
                    <h1 class="display-6 mb-4">@item.Title</h1>
                    <p> @item.Content</p>
                 @*  <p class="mb-4">In addition to obtaining an invoice for the amount paid that is sent as a PDF file to their emails, and getting notification of the next licensing date</p>
                  *@  <div class="row g-2 mb-4 pb-2">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Electronic payment
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Review violations
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Notification of the licensing date
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Get an invoice
                        </div>
                    </div>
                    
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <a class="btn btn-primary py-3 px-5" href="">Read More</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:+0123456789">
                                <span class="flex-shrink-0 btn-square bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </span>
                                <span class="px-3">+962 772 351 368</span>
                            </a>
                        </div>
                    </div>
                </div>
                }
            </div>
            
        </div>
    </div>
</div>
<!-- About End -->
